USE [master]
GO
/****** Object:  Database [FinalProject]    Script Date: 02/01/2020 18:59:44 ******/
CREATE DATABASE [FinalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FinalProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinalProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FinalProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalProject]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 02/01/2020 18:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[UnixTimeMillisec] [bigint] NOT NULL,
	[PID] [int] NOT NULL,
	[fileName] [varchar](50) NOT NULL,
	[filePath] [varchar](max) NOT NULL,
	[deltaTimeMillisec] [bigint] NOT NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[UnixTimeMillisec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packets]    Script Date: 02/01/2020 18:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packets](
	[UnixTimeMillisec] [bigint] NOT NULL,
	[srcIpAddr] [varchar](50) NOT NULL,
	[dstIpAddr] [varchar](50) NOT NULL,
	[IPLen] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[Ttl] [int] NOT NULL,
	[IPChksum] [int] NOT NULL,
	[srcPort] [int] NOT NULL,
	[dstPort] [int] NOT NULL,
	[Service] [varchar](50) NOT NULL,
	[Seq] [bigint] NOT NULL,
	[Ack] [bigint] NOT NULL,
	[dataOfs] [int] NOT NULL,
	[Flags] [nchar](10) NOT NULL,
	[Window] [int] NOT NULL,
	[TcpChksum] [int] NOT NULL,
 CONSTRAINT [PK_Packets] PRIMARY KEY CLUSTERED 
(
	[UnixTimeMillisec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Times]    Script Date: 02/01/2020 18:59:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Times](
	[UnixTimeMillisec] [bigint] NOT NULL,
	[Time] [bigint] NOT NULL,
	[Date] [nchar](10) NOT NULL,
	[Day] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Times] PRIMARY KEY CLUSTERED 
(
	[UnixTimeMillisec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Times] FOREIGN KEY([UnixTimeMillisec])
REFERENCES [dbo].[Times] ([UnixTimeMillisec])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Times]
GO
ALTER TABLE [dbo].[Packets]  WITH CHECK ADD  CONSTRAINT [FK_Packets_Times] FOREIGN KEY([UnixTimeMillisec])
REFERENCES [dbo].[Times] ([UnixTimeMillisec])
GO
ALTER TABLE [dbo].[Packets] CHECK CONSTRAINT [FK_Packets_Times]
GO
USE [master]
GO
